.style1{
    color:#F7BA00;
}

.style1{
    color:#FFD045;
}
.style1{
    color:#FFBF00;
}
.style1{
    color:#4D452F;
}
.style1{
    color:#CC9900;
}

.principal {
    color:  #FF9D00;
}

.secundaria {
    color:  #4D452F;
}