.border-images{
    border-width: 50px;
    border-color: aliceblue;
}

.imgPhp{
    height: 125px;
    background-image: url("../images/php.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.imgJava{
    background-image: url("../images/java.png");
    background-repeat: no-repeat, repeat;
    background-position: auto;
    background-size: 135px 178px;
}

.imgJavaScript{
    height: 125px;
    background-image: url("../images/javaScript.png");
    background-repeat: no-repeat, repeat;
    background-size: 135px 160px;
}

.imgCSS{
    height: 125px;
    background-image: url("../images/css.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.imgPY{
    height: 125px;
    background-image: url("../images/python.jpeg");
    background-repeat: no-repeat, repeat;
    background-position: auto;
    background-size: 133px 199px;
}

.sizeLogo{
    height: 135px;
    width: 135px;
}
