.imgNoMercado{
    max-height: 185px;
    background-image: url("../images/nomercado.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.sizeLogo2{
    height: 180px;
    width: 180px;
}

.doefacil{
    margin-top: 35px;
}

.imgDoeFacil{
    background-color: #fff;
    background-position: center;
    background-size: cover;
}

.imgAgComercial{
    background-color: #428bca;
    color: #fff;
}

.agComercial{
    margin-top: 66px;
    margin-left: 20px;
}

