body{
    color: #4D452F;
}

.font-title{
    font-family: "Lato", Times, serif;
}

.img-logo{
    max-width: 100px;
}

.style-nave{
    background-color:transparent;
    
}

.style-nave-text{
    color: #4D452F;
}

.style-nave-text:hover{
    color: #4D452F;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #4D452F;

}


.style-rodape{
    background-color:#F7BA00;
}

.style1{
    background-color: #F7BA00;
}

.style2{
    background-color:#FFD045;
}
.style3{
    background-color:#FFBF00;
}
.style4{
    background-color:#4D452F;
}
.style5{
    background-color:#CC9900;
}

.principal {
    color:  #FF9D00;
}

.secundaria {
    color:  #4D452F;
}

.margin-top{
    margin-top: 30px;
}

.rodape-shadow{
    box-shadow: 100px 10px 4px grey;
}



@media (max-width: 991px) {
    .logo-invisible{
        display: none;
    }
}
